:root {
		--gray-50: #191919;
		--gray-60: #252525;
		--gray-75: #292929;
		--gray-100: #303030;
		--gray-200: #404040;
		--gray-300: #4E4E4E;
		--gray-400: #606060;
		--gray-500: #777777;
		--gray-600: #8E8E8E;
		--gray-700: #ABABAB;
		--gray-800: #C0C0C0;
		--gray-900: #DADADA;
		--purple-100: #443467;
		--purple-200: #4E3C74;
		--purple-300: #584288;
		--purple-400: #61499A;
		--purple-500: #674BAA;
		--purple-600: #7F5CD1;
		--purple-700: #9269F2;
		--purple-800: #A771FF;
		--purple-900: #CCB6FF;
		--green-100: #1B3E2A;
		--green-200: #19492D;
		--green-300: #1C5333;
		--green-400: #2A6B46;
		--green-500: #358457;
		--green-600: #35955D;
		--green-700: #41B572;
		--green-800: #55CD88;
		--green-900: #B9E7CC;
		--red-100: #522528;
		--red-200: #602528;
		--red-300: #792A2F;
		--red-400: #902A30;
		--red-500: #A43238;
		--red-600: #C73840;
		--red-700: #F44B54;
		--red-800: #FF6A6F;
		--red-900: #FECBCD;
		--orange-100: #51331B;
		--orange-200: #60381A;
		--orange-300: #794316;
		--orange-400: #894B18;
		--orange-500: #9E561B;
		--orange-600: #C9630F;
		--orange-700: #FF8A28;
		--orange-800: #FF9D4D;
		--orange-900: #FFD7B6;
		--blue-100: #243662;
		--blue-200: #243B72;
		--blue-300: #284280;
		--blue-400: #2C4B97;
		--blue-500: #3054AA;
		--blue-600: #3862C6;
		--blue-700: #487DFF;
		--blue-800: #6D94FF;
		--blue-900: #B9C9F6;
		--yellow-100: #453B09;
		--yellow-200: #534709;
		--yellow-300: #6B5A00;
		--yellow-400: #877100;
		--yellow-500: #A18805;
		--yellow-600: #CAAE1B;
		--yellow-700: #FFD600;
		--yellow-800: #FFE353;
		--yellow-900: #F5EAAB;
		--pink-100: #4F2E3E;
		--pink-200: #5A3248;
		--pink-300: #733757;
		--pink-400: #893763;
		--pink-500: #9D346D;
		--pink-600: #C04688;
		--pink-700: #EA5CA8;
		--pink-800: #FF7DC3;
		--pink-900: #FFBCE0;
		--plum-100: #4D2F51;
		--plum-200: #59325F;
		--plum-300: #6B3672;
		--plum-400: #7E4086;
		--plum-500: #92419C;
		--plum-600: #AC51B7;
		--plum-700: #D262E0;
		--plum-800: #E387EE;
		--plum-900: #EEB3F4;
		--lavender-100: #473059;
		--lavender-200: #503666;
		--lavender-300: #5D3D78;
		--lavender-400: #6B468A;
		--lavender-500: #7B47A7;
		--lavender-600: #8D51BF;
		--lavender-700: #A95DE9;
		--lavender-800: #B66DFC;
		--lavender-900: #D9B6EF;
		--indigo-100: #36346A;
		--indigo-200: #3B3A79;
		--indigo-300: #434287;
		--indigo-400: #47468E;
		--indigo-500: #4C4BA1;
		--indigo-600: #5F5ECD;
		--indigo-700: #7473ED;
		--indigo-800: #8784FF;
		--indigo-900: #BDC0FA;
		--skyblue-100: #07395C;
		--skyblue-200: #0C4064;
		--skyblue-300: #0D4D7A;
		--skyblue-400: #185885;
		--skyblue-500: #0C5F9A;
		--skyblue-600: #1D76B6;
		--skyblue-700: #0D91EE;
		--skyblue-800: #3DAEFF;
		--skyblue-900: #9FD6FD;
		--cyan-100: #023C44;
		--cyan-200: #00454E;
		--cyan-300: #00525C;
		--cyan-400: #0D616C;
		--cyan-500: #187582;
		--cyan-600: #0D899A;
		--cyan-700: #11A1B5;
		--cyan-800: #44C1D2;
		--cyan-900: #93DFEA;
		--teal-100: #0C3D37;
		--teal-200: #07463F;
		--teal-300: #0A534A;
		--teal-400: #13665C;
		--teal-500: #147967;
		--teal-600: #298B7A;
		--teal-700: #28A893;
		--teal-800: #25C6AB;
		--teal-900: #9DE1D9;
		--grass-100: #273D0C;
		--grass-200: #314716;
		--grass-300: #3A511E;
		--grass-400: #4B6C22;
		--grass-500: #598324;
		--grass-600: #639229;
		--grass-700: #84B14B;
		--grass-800: #A8D470;
		--grass-900: #CFE7B1;
		--lime-100: #39390B;
		--lime-200: #464711;
		--lime-300: #50510C;
		--lime-400: #6A6C03;
		--lime-500: #80820D;
		--lime-600: #929516;
		--lime-700: #ABAD2F;
		--lime-800: #C1C34E;
		--lime-900: #E4E799;
		--brown-100: #48331C;
		--brown-200: #523615;
		--brown-300: #66431C;
		--brown-400: #835725;
		--brown-500: #9A662B;
		--brown-600: #BA7C35;
		--brown-700: #D99344;
		--brown-800: #FCB25D;
		--brown-900: #FFDBB1;
		--overlay-50: RGBA(255, 255, 255, 0);
		--overlay-100: RGBA(255, 255, 255, 0.05);
		--overlay-200: RGBA(255, 255, 255, 0.08);
		--overlay-300: RGBA(255, 255, 255, 0.12);
		--overlay-400: RGBA(255, 255, 255, 0.16);
		--overlay-500: RGBA(255, 255, 255, 0.2);
		--overlay-600: RGBA(255, 255, 255, 0.25);
		--overlay-700: RGBA(255, 255, 255, 0.5);
		--overlay-800: RGBA(255, 255, 255, 0.65);
		--overlay-900: RGBA(255, 255, 255, 0.85);
		--overlay-inverse-50: RGBA(0, 0, 0, 0);
		--overlay-inverse-100: RGBA(0, 0, 0, 0.05);
		--overlay-inverse-200: RGBA(0, 0, 0, 0.08);
		--overlay-inverse-300: RGBA(0, 0, 0, 0.12);
		--overlay-inverse-400: RGBA(0, 0, 0, 0.16);
		--overlay-inverse-500: RGBA(0, 0, 0, 0.2);
		--overlay-inverse-600: RGBA(0, 0, 0, 0.25);
		--overlay-inverse-700: RGBA(0, 0, 0, 0.5);
		--overlay-inverse-800: RGBA(0, 0, 0, 0.65);
		--overlay-inverse-900: RGBA(0, 0, 0, 0.85);
		--overlay-blue-50: RGBA(73, 126, 255, 0);
		--overlay-blue-100: RGBA(73, 126, 255, 0.14);
		--overlay-blue-200: RGBA(73, 126, 255, 0.18);
		--overlay-blue-300: RGBA(73, 126, 255, 0.24);
		--overlay-blue-400: RGBA(73, 126, 255, 0.3);
		--overlay-blue-500: RGBA(73, 126, 255, 0.4);
		--overlay-blue-600: RGBA(73, 126, 255, 0.54);
		--overlay-blue-700: RGBA(73, 126, 255, 0.68);
		--overlay-blue-800: RGBA(73, 126, 255, 0.78);
		--overlay-blue-900: RGBA(73, 126, 255, 0.9);
		--overlay-purple-50: RGBA(121, 74, 233, 0);
		--overlay-purple-100: RGBA(121, 74, 233, 0.14);
		--overlay-purple-200: RGBA(121, 74, 233, 0.18);
		--overlay-purple-300: RGBA(121, 74, 233, 0.24);
		--overlay-purple-400: RGBA(121, 74, 233, 0.3);
		--overlay-purple-500: RGBA(121, 74, 233, 0.4);
		--overlay-purple-600: RGBA(121, 74, 233, 0.54);
		--overlay-purple-700: RGBA(121, 74, 233, 0.68);
		--overlay-purple-800: RGBA(121, 74, 233, 0.78);
		--overlay-purple-900: RGBA(121, 74, 233, 0.9);
		--overlay-red-50: RGBA(223, 44, 52, 0);
		--overlay-red-100: RGBA(223, 44, 52, 0.14);
		--overlay-red-200: RGBA(223, 44, 52, 0.18);
		--overlay-red-300: RGBA(223, 44, 52, 0.24);
		--overlay-red-400: RGBA(223, 44, 52, 0.3);
		--overlay-red-500: RGBA(223, 44, 52, 0.4);
		--overlay-red-600: RGBA(223, 44, 52, 0.54);
		--overlay-red-700: RGBA(223, 44, 52, 0.68);
		--overlay-red-800: RGBA(223, 44, 52, 0.78);
		--overlay-red-900: RGBA(223, 44, 52, 0.9);
		--box-shadow-100: 0PX 0PX 1PX 0PX RGBA(255, 255, 255, 0.64), 0PX 2PX 6PX 0PX  RGBA(0, 0, 0, 0.32);
		--box-shadow-200: 0PX 0PX 1PX 0PX RGBA(255, 255, 255, 0.64), 0PX 2PX 4PX 0PX RGBA(0, 0, 0, 0.64);
		--box-shadow-300: 0PX 0PX 1PX 0PX RGBA(255, 255, 255, 0.64), 0PX 4PX 8PX 0PX RGBA(0, 0, 0, 0.64);
		--box-shadow-400: 0PX 0PX 1PX 0PX RGBA(255, 255, 255, 0.64), 0PX 6PX 12PX 0PX RGBA(0, 0, 0, 0.64);
		--box-shadow-500: 0PX 0PX 1PX 0PX RGBA(255, 255, 255, 0.64), 0PX 2PX 4PX 0PX RGBA(0, 0, 0, 0.32), 0PX 8PX 16PX 0PX RGBA(0, 0, 0, 0.64);
		--box-shadow-600: 0PX 0PX 1PX 0PX RGBA(255, 255, 255, 0.64), 0PX 2PX 8PX 0PX RGBA(0, 0, 0, 0.32), 0PX 16PX 24PX 0PX RGBA(0, 0, 0, 0.64);
		--box-shadow-700: 0PX 0PX 1PX 0PX RGBA(255, 255, 255, 0.64), 0PX 2PX 8PX 0PX RGBA(0, 0, 0, 0.32), 0PX 20PX 32PX 0PX RGBA(0, 0, 0, 0.64);
}