:root {
		--gray-50: #FFFFFF;
		--gray-60: #FFFFFF;
		--gray-75: #FAFAFA;
		--gray-100: #F3F3F3;
		--gray-200: #E8E8E8;
		--gray-300: #DADADA;
		--gray-400: #BDBDBD;
		--gray-500: #999999;
		--gray-600: #616161;
		--gray-700: #4E4E4E;
		--gray-800: #323232;
		--gray-900: #1C1C1C;
		--purple-100: #EFE8FF;
		--purple-200: #E5DAFF;
		--purple-300: #DBCBFF;
		--purple-400: #C5AAFF;
		--purple-500: #B08DFD;
		--purple-600: #9668FD;
		--purple-700: #8652FF;
		--purple-800: #653BD8;
		--purple-900: #3E2871;
		--green-100: #E3F8EC;
		--green-200: #B6EECC;
		--green-300: #9AE7B8;
		--green-400: #79E0A4;
		--green-500: #63D794;
		--green-600: #40CE7C;
		--green-700: #43C078;
		--green-800: #2F8956;
		--green-900: #2A5B3F;
		--red-100: #FFEBEC;
		--red-200: #FFD7D9;
		--red-300: #FFC4C6;
		--red-400: #FFAFB2;
		--red-500: #FF9295;
		--red-600: #F35F64;
		--red-700: #F53D44;
		--red-800: #E5141D;
		--red-900: #831417;
		--orange-100: #FFF3E2;
		--orange-200: #FFE8C6;
		--orange-300: #FFDDAA;
		--orange-400: #FFD390;
		--orange-500: #FFC368;
		--orange-600: #FFAF38;
		--orange-700: #FF9900;
		--orange-800: #F05F0D;
		--orange-900: #82421F;
		--blue-100: #E7ECFC;
		--blue-200: #D1DFFF;
		--blue-300: #C3D5FF;
		--blue-400: #AAC3FF;
		--blue-500: #86A9FF;
		--blue-600: #5E8CFF;
		--blue-700: #497EFF;
		--blue-800: #215BE7;
		--blue-900: #123588;
		--yellow-100: #FDF7D8;
		--yellow-200: #FFF7C8;
		--yellow-300: #FFF4BB;
		--yellow-400: #FFF1A6;
		--yellow-500: #FFEE8C;
		--yellow-600: #FFE868;
		--yellow-700: #FFD800;
		--yellow-800: #FFB800;
		--yellow-900: #67480C;
		--pink-100: #FFECF5;
		--pink-200: #FFD2E8;
		--pink-300: #FBC5DF;
		--pink-400: #FFA6D1;
		--pink-500: #FB7BB9;
		--pink-600: #F657A5;
		--pink-700: #E0418F;
		--pink-800: #AA3564;
		--pink-900: #6D2140;
		--plum-100: #FEF0FF;
		--plum-200: #FAD1FF;
		--plum-300: #F8BFFF;
		--plum-400: #F29EFD;
		--plum-500: #F182FF;
		--plum-600: #E361F3;
		--plum-700: #CC48DD;
		--plum-800: #9D2CAB;
		--plum-900: #662A6F;
		--lavender-100: #F2E5FF;
		--lavender-200: #EAD3FF;
		--lavender-300: #E5CBFF;
		--lavender-400: #D5A9FF;
		--lavender-500: #C488FC;
		--lavender-600: #AD5CFA;
		--lavender-700: #A048F2;
		--lavender-800: #832BD4;
		--lavender-900: #512677;
		--indigo-100: #E9EBFF;
		--indigo-200: #D6DAFD;
		--indigo-300: #CACFFA;
		--indigo-400: #AFB7FF;
		--indigo-500: #8D98FA;
		--indigo-600: #6C79EC;
		--indigo-700: #5464F0;
		--indigo-800: #3D49B4;
		--indigo-900: #202A7D;
		--skyblue-100: #E0F0F9;
		--skyblue-200: #C8EBFF;
		--skyblue-300: #AFE2FF;
		--skyblue-400: #92D8FF;
		--skyblue-500: #72CCFF;
		--skyblue-600: #54C1FF;
		--skyblue-700: #32B5FF;
		--skyblue-800: #0381C9;
		--skyblue-900: #034B75;
		--cyan-100: #D4F6FA;
		--cyan-200: #B5EFF6;
		--cyan-300: #9EE5EF;
		--cyan-400: #7BDDEA;
		--cyan-500: #61D6E6;
		--cyan-600: #30CADF;
		--cyan-700: #00BDD7;
		--cyan-800: #068A9C;
		--cyan-900: #085762;
		--teal-100: #D3F9F6;
		--teal-200: #B1EFE7;
		--teal-300: #8EE8DE;
		--teal-400: #7EDFD6;
		--teal-500: #61D8CC;
		--teal-600: #55C9BE;
		--teal-700: #25BBAA;
		--teal-800: #158075;
		--teal-900: #0A5E56;
		--grass-100: #EAF8D8;
		--grass-200: #D5ECB3;
		--grass-300: #C0E786;
		--grass-400: #A0DB4C;
		--grass-500: #92D219;
		--grass-600: #84C816;
		--grass-700: #6FB51A;
		--grass-800: #4E950E;
		--grass-900: #1D6117;
		--lime-100: #F6FAD3;
		--lime-200: #ECF3B9;
		--lime-300: #E4EF9A;
		--lime-400: #D2E26D;
		--lime-500: #C3DC24;
		--lime-600: #B2C921;
		--lime-700: #A4BD06;
		--lime-800: #889B0E;
		--lime-900: #515A15;
		--brown-100: #F3E9DD;
		--brown-200: #F3E0CA;
		--brown-300: #F0DAC1;
		--brown-400: #F2CFA6;
		--brown-500: #E4AE70;
		--brown-600: #CB9252;
		--brown-700: #AA7232;
		--brown-800: #6D4F2B;
		--brown-900: #442D12;
		--overlay-50: RGBA(0, 0, 0, 0);
		--overlay-100: RGBA(0, 0, 0, 0.05);
		--overlay-200: RGBA(0, 0, 0, 0.08);
		--overlay-300: RGBA(0, 0, 0, 0.12);
		--overlay-400: RGBA(0, 0, 0, 0.16);
		--overlay-500: RGBA(0, 0, 0, 0.2);
		--overlay-600: RGBA(0, 0, 0, 0.25);
		--overlay-700: RGBA(0, 0, 0, 0.5);
		--overlay-800: RGBA(0, 0, 0, 0.65);
		--overlay-900: RGBA(0, 0, 0, 0.85);
		--overlay-inverse-50: RGBA(255, 255, 255, 0);
		--overlay-inverse-100: RGBA(255, 255, 255, 0.05);
		--overlay-inverse-200: RGBA(255, 255, 255, 0.08);
		--overlay-inverse-300: RGBA(255, 255, 255, 0.12);
		--overlay-inverse-400: RGBA(255, 255, 255, 0.16);
		--overlay-inverse-500: RGBA(255, 255, 255, 0.2);
		--overlay-inverse-600: RGBA(255, 255, 255, 0.25);
		--overlay-inverse-700: RGBA(255, 255, 255, 0.5);
		--overlay-inverse-800: RGBA(255, 255, 255, 0.65);
		--overlay-inverse-900: RGBA(255, 255, 255, 0.85);
		--overlay-blue-50: RGBA(73, 126, 255, 0);
		--overlay-blue-100: RGBA(73, 126, 255, 0.08);
		--overlay-blue-200: RGBA(73, 126, 255, 0.12);
		--overlay-blue-300: RGBA(73, 126, 255, 0.16);
		--overlay-blue-400: RGBA(73, 126, 255, 0.20);
		--overlay-blue-500: RGBA(73, 126, 255, 0.25);
		--overlay-blue-600: RGBA(73, 126, 255, 0.36);
		--overlay-blue-700: RGBA(73, 126, 255, 0.5);
		--overlay-blue-800: RGBA(73, 126, 255, 0.65);
		--overlay-blue-900: RGBA(73, 126, 255, 0.85);
		--overlay-purple-50: RGBA(121, 74, 233, 0);
		--overlay-purple-100: RGBA(121, 74, 233, 0.08);
		--overlay-purple-200: RGBA(121, 74, 233, 0.12);
		--overlay-purple-300: RGBA(121, 74, 233, 0.16);
		--overlay-purple-400: RGBA(121, 74, 233, 0.20);
		--overlay-purple-500: RGBA(121, 74, 233, 0.25);
		--overlay-purple-600: RGBA(121, 74, 233, 0.36);
		--overlay-purple-700: RGBA(121, 74, 233, 0.5);
		--overlay-purple-800: RGBA(121, 74, 233, 0.65);
		--overlay-purple-900: RGBA(121, 74, 233, 0.85);
		--overlay-red-50: RGBA(223, 44, 52, 0);
		--overlay-red-100: RGBA(223, 44, 52, 0.08);
		--overlay-red-200: RGBA(223, 44, 52, 0.12);
		--overlay-red-300: RGBA(223, 44, 52, 0.16);
		--overlay-red-400: RGBA(223, 44, 52, 0.20);
		--overlay-red-500: RGBA(223, 44, 52, 0.25);
		--overlay-red-600: RGBA(223, 44, 52, 0.36);
		--overlay-red-700: RGBA(223, 44, 52, 0.5);
		--overlay-red-800: RGBA(223, 44, 52, 0.65);
		--overlay-red-900: RGBA(223, 44, 52, 0.85);
		--box-shadow-100: 0PX 0PX 1PX 0PX RGBA(0, 0, 0, 0.16), 0PX 2PX 6PX 0PX RGBA(0, 0, 0, 0.12);
		--box-shadow-200: 0PX 0PX 1PX 0PX RGBA(0, 0, 0, 0.16), 0PX 2PX 4PX 0PX RGBA(0, 0, 0, 0.24);
		--box-shadow-300: 0PX 0PX 1PX 0PX RGBA(0, 0, 0, 0.16), 0PX 4PX 8PX 0PX RGBA(0, 0, 0, 0.24);
		--box-shadow-400: 0PX 0PX 1PX 0PX RGBA(0, 0, 0, 0.16), 0PX 6PX 12PX 0PX RGBA(0, 0, 0, 0.24);
		--box-shadow-500: 0PX 0PX 1PX 0PX RGBA(0, 0, 0, 0.16), 0PX 2PX 4PX 0PX RGBA(0, 0, 0, 0.08), 0PX 8PX 16PX 0PX RGBA(0, 0, 0, 0.24);
		--box-shadow-600: 0PX 0PX 1PX 0PX RGBA(0, 0, 0, 0.16), 0PX 2PX 8PX 0PX RGBA(0, 0, 0, 0.08), 0PX 16PX 24PX 0PX RGBA(0, 0, 0, 0.24);
		--box-shadow-700: 0PX 0PX 1PX 0PX RGBA(0, 0, 0, 0.16), 0PX 2PX 8PX 0PX RGBA(0, 0, 0, 0.08), 0PX 20PX 32PX 0PX RGBA(0, 0, 0, 0.24);
}